@tailwind base;
@tailwind components;
@tailwind utilities;
:root .theme--dark {
  --primary-bg-color: #2d2929;
  --primary-txt-color: #aaaaaa;
  --secondary-bg-color: #1f1d1d;
  --tertiary-bg-color: #444040;
  --accent-color-1: #555555;
  --active-bg-color: #4070a9;
  --active-txt-color: #eeeeee;
}
:root .theme--light {
  --primary-bg-color: #f4f9fb;
  --primary-txt-color: #222222;
  --secondary-bg-color: #eff5f7;
  --tertiary-bg-color: #a3c0d2;
  --accent-color-1: #cccccc;
  --active-bg-color: #1b6ec2;
  --active-txt-color: #ffffff;
}

@layer base {
  .theme--dark a.btn-primary {
    background-color: var(--active-bg-color) !important;
    color: var(--active-txt-color);
  }
}
#sharpsite-admin-layout {
  @apply min-h-screen md:h-screen flex flex-col;
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
}
#sharpsite-admin-layout #main-section {
  @apply flex-1 flex md:overflow-hidden;
}
#sharpsite-admin-layout #main-section #primary-side-section {
  @apply hidden md:block flex-initial overflow-auto;
}
#sharpsite-admin-layout #main-section #primary-side-section a.nav-link {
  color: var(--primary-txt-color);
}
#sharpsite-admin-layout #main-section #primary-side-section a.nav-link.active {
  background-color: var(--active-bg-color);
  color: var(--active-txt-color);
}
#sharpsite-admin-layout #main-section #primary-side-section a.nav-link:hover {
  background-color: var(--tertiary-bg-color);
}
#sharpsite-admin-layout #main-section main {
  @apply flex-1 px-2 md:overflow-auto;
}
#sharpsite-admin-layout footer {
  @apply p-1.5 text-sm;
  background-color: var(--secondary-bg-color);
}

#admin-page-template header {
  @apply mb-3;
}
#admin-page-template header h1 {
  @apply text-2xl;
}
#admin-page-template header h2 {
  @apply text-xl;
}

#admin-layout-header {
  @apply text-xl p-4 py-2;
  background-color: var(--secondary-bg-color);
}
#admin-layout-header .primary-layout-header-section {
  @apply flex items-center;
}
#admin-layout-header .primary-layout-header-section .mobile-menu-icon-container {
  @apply ltr:mr-2 rtl:ml-2 cursor-pointer md:hidden;
}
#admin-layout-header .primary-layout-header-section .mobile-menu-icon-container svg {
  width: 24px;
  height: 24px;
}
#admin-layout-header .primary-layout-header-section .logo-container {
  @apply flex-initial;
}
#admin-layout-header .primary-layout-header-section .theme-header-content {
  @apply flex-1 flex items-center justify-end;
}
#admin-layout-header .mobile-menu-section {
  @apply md:hidden;
}

#theme-mode-selector {
  @apply inline-flex items-center h-full;
}
#theme-mode-selector .icon-container:hover {
  @apply cursor-pointer;
}
#theme-mode-selector .icon-container svg {
  @apply ml-auto mr-1;
  width: 20px;
  height: 20px;
}

.page-list-page .page-item {
  @apply mb-4 pb-2 border-b;
  border-color: var(--accent-color-1);
}
.page-list-page .page-item h5 {
  @apply text-lg;
}
.page-list-page .page-item .page-item-content {
  @apply text-base;
}

.form-control, .form-select {
  background-color: var(--secondary-bg-color);
  color: var(--primary-txt-color);
  border-color: var(--accent-color-1);
}

div.EasyMDEContainer {
  border-color: var(--accent-color-1);
}
div.EasyMDEContainer .CodeMirror {
  background-color: var(--secondary-bg-color);
  color: var(--primary-txt-color);
  border-color: var(--accent-color-1);
}
div.EasyMDEContainer .editor-toolbar {
  border-color: var(--accent-color-1);
}
