@using SharpSite.Web.Components.Admin
@rendermode InteractiveServer

<header id="admin-layout-header">
    <section class="primary-layout-header-section">
        <div class="mobile-menu-icon-container" @onclick="() => _showMobileMenu = !_showMobileMenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>
        <div class="logo-container">
            <a href="/"><img src="logo.webp" /></a>
        </div>
        <div class="theme-header-content">
            <ThemeModeSelector/>
        </div>
    </section>
    @if (_showMobileMenu)
    {
        <section class="mobile-menu-section">
            <ManageNavMenu />
        </section>
    }
</header>

@code {
    private bool _showMobileMenu;
}
