@using SharpSite.Web.Components.Admin
@inherits LayoutComponentBase

<section id="sharpsite-admin-layout">
    <AdminLayoutHeader />
    <section id="main-section">
        <section id="primary-side-section">
            <ManageNavMenu/>
        </section>
        <main>
            @Body
        </main>
    </section>
    <footer>
        &copy; @DateTime.Now.Year SharpSite
    </footer>
</section>
