@page "/admin"
@attribute [Authorize(Roles = Constants.Roles.AllUsers)]

<AdminPageTemplate 
    PageTitle="@Localizer[SharedResource.sharpsite_admin]"
    Title="@Localizer[SharedResource.sharpsite_generaladmin]">
    <p>@Localizer[SharedResource.sharpsite_admin_headertext]</p>

    <AdminSiteSettings />
</AdminPageTemplate>
